﻿@using Records.Models;
@model Reservation;
<p>Поздравляем, вы успешно записались ко врачу!</p>
<table class="table">
    <thead>
        <tr>
            <td>ФИО врача</td>
            <td>Специализация</td>
            <td>Время записи</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Doctor.LastName @Model.Doctor.Name @Model.Doctor.MiddleName</td>
            <td>@Records.Converters.SpecialityToStringConverter.Convert(Model.Doctor.Speciality)</td>
            <td>@Model.ReservationDateTime</td>
        </tr>
    </tbody>
</table>