﻿@using DataTransferObjects;
@model List<UserBasicInfo>
<p>Выберите пользователя:</p>
<form name="chooseUser">
    <select required name="choose">
        <option>...</option>
        @foreach (var user in Model)
        {
            <option value="@user.Id">@user.LastName @user.Name  @user.MiddleName</option>
        }
    </select>
    <input type="button" name="submitButton" value="Выбрать" onclick="selectUsersReservationsAdmin(chooseUser);" />
</form>