﻿@using Communication.Models;

@model List<(Message message, bool isAdressee)>
@{
    var adresseeId = Model.FirstOrDefault(c => c.isAdressee).message.FromUserId.ToString();
}

<style>
    textarea {
        width: 50%; /* Ширина в процентах */
        height: 100px; /* Высота в пикселах */
    }
</style>

<p>История</p>
@foreach (var metaMes in Model)
{
    <p><b>Дата: @metaMes.message.Date</b></p>
    @if (metaMes.isAdressee == false)
    {
        <p><b>Вы написали:</b></p>
    }
    else
    {
        <p><b>Вам написали:</b></p>
    }
    <blockquote>@metaMes.message.Text</blockquote>
}

<form name="messageForm">
    <p>Введите ваше сообщение здесь:</p>
    <p><textarea cols="10" rows="10" name="messageText"></textarea></p>
    <input type="button" value="Отправить" onclick="sendAdminMessage(messageForm, '@adresseeId');" />
</form>
