﻿@using DataTransferObjects;
@model List<UserBasicInfo>

<table class="table table-hover" id="dialogsTable">
    <thead>
        <tr>
            <td>Диалоги:</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr onclick="window.location='AdminDialog?userId=@user.Id';">
                <td>
                    @($"{user.LastName} {user.Name} {user.MiddleName}")
                </td>
            </tr>
        }
    </tbody>
</table>