﻿@{
    string visibility = "hidden";
    if (int.Parse(ViewData["FailFlg"].ToString()) == 1)
    {
        visibility = "visible";
    }
}
<title> Authorization </title>
<style>
    .incorrect-data {
        visibility: @visibility;
        color: red;
    }
</style>
<div class = "authorize">
    <p> Введите данные ниже: </p>
    <form name="authorizeForm">
        <label>Электронная почта:</label><br />
        <input type="text" name="Email" /><br />

        <label>Пароль:</label><br />
        <input type="password" name="Password" /><br />
        <p class = "incorrect-data"> Введенные вами данные некорректны. Повторите ввод</p>
        <input type="button" value="Отправить" onclick="sendAuthorizationInfo(authorizeForm);" />
    </form>
</div>
