﻿@using Records.Models;
@model Doctor
<style>
    .inactive-time{
        color: gray
    }
</style>


<p> @ViewData["UserFio"], Вы на странице добавления новой записи ко врачу</p>

<form name="reservDateForm">
<input id="dataInput" type="date" name ="calendarDate" value="@DateTime.Today.ToString("yyyy-MM-dd")"
                 min="@DateTime.Today.ToString("yyyy-MM-dd")" max="@DateTime.Today.AddDays(14).ToString("yyyy-MM-dd")">
   
    <input type="button" value="Расписание" onclick="findSchedule(reservDateForm,'@Model.Id');" />
</form>