﻿<div class="container main-info">
    <div class="top-hello my-border col-md-12">
        <h1>
            <b> Контакты</b>
            <a href="~/images/img_welcome.png" data-lightbox="stom" data-title="ДентАурум">
                <img src="~/images/img_welcome.png" width="360" height="280"
                     alt="DentAurum" align="right">
            </a>
        </h1>

        <h3>
            <p>Понедельник - пятница:  с 10:00 до 20:00</p>
            <p>Суббота: с 10:00 до 16:00</p>
            <p>Воскресенье: выходной</p>
        </h3>

        <h3>
            <p>	Адрес: Нагатинская набережная, 10к3</p>
            <p>
                Телефон:
                +7(495) 123-55-68
            </p>
            <p>
                E-mail:
                <a href="mailto:bikus@inbox.ru">bikus@inbox.ru</a>
            </p>
        </h3>
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3AVwS6qGkHK3Cq54FKr9_ncEdn7sOA_B1f&amp;width=950&amp;height=429&amp;lang=ru_RU&amp;scroll=true"></script>
        <br>
    </div>
</div>