﻿@model List<(DateTime, bool)>
@{
    string timeClass = "";
    bool isAuthorized = TempData.ContainsKey("TokenBody");
    string doctorId = (string) ViewData["doctorId"];
}
<style>
    .inactive-time {
        color: gray;
        pointer-events: none;
    }
</style>
<table class="table table-hover" id="reservTable">
    <thead>
        <tr>
            <td>Время</td>
        </tr>
    </thead>
    <tbody>
        
            @foreach (var time in Model)
            {
                <tr onclick ="scheduleTableClick('@time.Item1','@doctorId','@isAuthorized');">
                    <td class="@(timeClass = (DateTime.Now > time.Item1.AddMinutes(-30)) || time.Item2 == true ? "inactive-time" : "active-time")">
                        @time.Item1.ToShortTimeString()
                    </td>

                </tr>
            }
                
    </tbody>
</table>