﻿@using Records.Models;
@using Records.Converters;
@model List<Doctor>
@{
    bool isAuthorized = TempData.ContainsKey("TokenBody");
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>ФИО врача</th>
            <th>Специализация</th>
            <th>Время приема</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doctor in Model)
        {
            <tr onclick ="doctorsTableClick('@doctor.Name', '@doctor.LastName', '@doctor.MiddleName', '@isAuthorized');">

                <td><b>@doctor.LastName @doctor.Name @doctor.MiddleName</b></td>

                <td>@Records.Converters.SpecialityToStringConverter.Convert(doctor.Speciality)</td>
                <td>
                    @foreach (var schedule in doctor.Schedule)
                    {
                        @if (schedule.IsWorkingDay)
                        {
                            <p>
                                @Records.Converters.DayToStringConverter.Convert(schedule.Day)
                                @schedule.BeginingTime.Value.ToShortTimeString() -  @schedule.EndTime.Value.ToShortTimeString()
                            </p>
                        }

                    }
                </td>

            </tr>
        }
    </tbody> 
</table>
