﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="top-hello my-border main-info row">
    <h1 class="metro">
        <!--<b>Стоматология «ДентАурум» (ЮАО, Москва)</b>-->
        Мы находимся в шаговой доступности от метро Коломенская (ЮАО,г. Москва)!
    </h1>
    <a href="images/img_reception.png" data-lightbox="stom" data-title="ДентАурум">
        <img src="images/img_reception.png" width="320" height="240"
             alt="DentAurum" align="right" class="photo-left">
    </a>
    <div>
        <h4 align="justify">
            <div class="main-text">
                <b>
                    <p style="text-indent: 25px;">Предлагаем весь спектр услуг по лечению и протезированию зубов, включая имплантацию, ортопедическое и ортодонтическое лечение.</p>
                    <p style="text-indent: 25px;">Забудьте о   боли, испытываемой в кресле стоматолога: мы располагаем самым современным оборудованием и материалами для эффективного и безболезненного лечения зубов! Мы уделяем особое внимание обезболивающим препаратам и эффектам, которые могут применяться при беременности, аллергиях и других противопоказаниях.</p>
                    <p style="text-indent: 25px;">Среди сотрудников клиники «ДентАурум» только самые высококвалифицированные врачи. Средний стаж работы наших специалистов составляет более 20 лет! </p>
                    <p style="text-indent: 25px;">Вы встретите внимательное, доброжелательное отношение и профессиональный подход к Вашей проблеме. Мы гарантируем, что получите лечение достойного качества по доступной и честной цене. </p>
                    <p style="text-indent: 25px;">Выбирая «ДентАурум», Вы выбираете высокое качество стоматологического лечения!</p>
                    <p class="otstup-max2"></p>
                    <p>Специалисты-стоматологи высшей квалификации представляют все направления современной стоматологии:</p>
                </b>
            </div>
            <div class="main-text-after">
                <a href="images/img_main_1.png" data-lightbox="stom" data-title="ДентАурум">
                    <img src="images/img_main_1.png" width="320" height="240"
                         alt="DentAurum" align="left" class="photo-right">
                </a>
                <p align="left"><b><ins>Терапевтическая стоматология:</ins></b></p>
                <p>• Профилактика стоматологических заболеваний и профессиональная гигиена полости рта.</p>
                <p>• Лечение кариеса и его осложнений с применением современных технологий.</p>
                <p>• Все виды современного эндодонтического лечения.</p>
                <p class="otstup-max">•	Реставрация зубов фотокомпозитными материалами последнего поколения.</p>
                <p align="left"><b><ins>Хирургическая стоматология:</ins></b></p>
                <p>• Удаление зубов любой сложности, зубосохраняющие операции.</p>
                <p class="otstup-min">• Дентальная имплантация,костно-пластическая хирургия с </p><p>применением алло- и аутотрансплантантов, биоматериалов.</p>
                <a href="images/img_main_2.png" data-lightbox="stom" data-title="ДентАурум" class="hor-ph">
                    <img src="images/img_main_2.png" width="320"
                         height="240" alt="DentAurum" align="right" class="photo-left">
                </a>
                <p align="left"><b><ins>Ортопедическая стоматология:</ins></b></p>
                <p>•	Протезирование любой сложности: несъемные конструкции (металлокерамические, маталлокомпозитные коронки, коронки с опорой на импланты), съемные зубные протезы (бюгельные и пластиночные).</p>
                <p align="left"><b><ins>Ортодонтия:</ins></b></p>
                <p class="otstup-max">•	Исправление прикуса брекет-системами, съемными аппаратами.</p>
                <p align="left"><b><ins>Косметическая стоматология:</ins></b></p>
                <p class="otstup-min">•	Лазерное отбеливание зубов.</p>
                <p class="otstup-min">•	Эстетические реставрации (вкладки, виниры), микропротезирование.</p>
                <p class="otstup-min">•	Изготовление коронок на основе оксида циркония и драгоценных металлов.</p>
            </div>
        </h4>
    </div>
</div>
