﻿@using Communication.Models;

@model List<(Message,bool)>
@{
}
<style>
    textarea {
        width: 50%; /* Ширина в процентах */
        height: 100px; /* Высота в пикселах */
    }
</style>
    @if (Model.Count != 0)
    {
        <p>История:</p>
            @foreach (var message in Model)
            {
                <p><b>Дата: @message.Item1.Date</b></p>
                @if (message.Item2 == false)
                {
                 <p><b>Вы написали:</b></p>
                }
                else
                {
                 <p><b>Вам написали:</b></p>
                }
                <blockquote>@message.Item1.Text</blockquote>
            }
    }
    else
    {
        <p>Вы не оставили ни одного сообщения.</p>
    }
<form name="messageForm">
    <p>Введите ваше сообщение здесь:</p>
    <p><textarea cols="10" rows="10" name="messageText"></textarea></p>
    <input type="button" value="Отправить" onclick="sendMessage(messageForm);"/>
</form>
