﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Ваше сообщение не добавлено</p>
<p>Ошибка сервера</p>
<p>Попробуйте еще <a href=@ViewData["MessagesUrl"]>раз</a></p>