﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Ваше сообщение добавлено!</p>
<p>Администратор ответит вам в ближайшее время</p>
<p>Историю переписки можно посмотреть <a href=@ViewData["MessagesUrl"]>здесь</a></p>