﻿<div class="container main-info">
    <div class="top-hello my-border col-md-12">
        <h1><b>Стоимость услуг</b></h1>
        <h4>
            <table border=1 cellspacing="0" cellpadding=3 borderColorLight=#777777 borderColorDark=#FFFFFF class="price">
                <tr><td colspan=2 align="center"><b>Терапия (лечение)</b></td></tr>
                <tr><td colspan=2 align="left">Консультация специалиста – бесплатно</td></tr>
                <tr><td>Анестезия (обезболивание)</td><td align="right">300 р</td></tr>
                <tr><td>Фотополимерная пломба</td><td align="right">от 3000 р</td></tr>
                <tr><td>Лечения осложненного кариеса (пульпит, периодонтит) &nbsp </td><td align="right">от 8000 р</td></tr>
                <tr><td>Пломбировка корневого канала</td><td align="right">от 2000 р</td></tr>
                <tr><td>Художественная реставрация зуба (в зоне улыбки)</td><td align="right">от 8000 р</td></tr>
                <tr><td colspan=2 align=center><b>Ортопедия (протезирование)</b></td></tr>
                <tr><td>Культевая вкладка</td><td align="right">от&nbsp 7000 р</td></tr>
                <tr><td>Металлокерамическая коронка</td><td align="right">от 10500 р</td></tr>
                <tr><td>Пластинчатый протез</td><td align="right">24000 р</td></tr>
                <tr><td>Бюгельный протез</td><td align="right">от 38000 р</td></tr>
                <tr><td colspan=2 align=center><b>Хирургия</b></td></tr>
                <tr><td>Анестезия (обезболивание)</td><td align="right">от&nbsp  300 р</td></tr>
                <tr><td>Удаление (простое)</td><td align="right">от 2100 р</td></tr>
                <tr><td>Удаление (сложное)</td><td align="right">от 3700 р</td></tr>
                <tr><td colspan=2 align=center><b>Имплантация</b></td></tr>
                <tr><td colspan=2 align=center>Хирургический этап</td></tr>
                <tr><td>Установка импланта</td><td align="right">от 30000 р </td></tr>
                <tr><td>Установка формирователя десны</td><td align="right">от&nbsp 4000 р </td></tr>
                <tr><td>Синуслифтинг</td><td align="right">от 15000 р</td></tr>
                <tr><td colspan=2 align=center>Ортопедический этап</td></tr>
                <tr><td>Коронка на импланте</td><td align="right">от 17000 р </td></tr>
                <tr><td>Съемный протез на имплантах</td><td align="right">от 30000 р</td></tr>
                <tr><td>Точка фиксации съемного протеза на имплантах</td><td align="right">от 12000 р</td></tr>
                <tr><td colspan=2 align=center><b>Ортодонтия</b></td></tr>
                <tr><td>Консультация специалиста</td><td align="right">500 р</td></tr>
                <tr><td>Слепки одной челюсти</td><td align="right">500 р</td></tr>
                <tr><td colspan=2 align=center>Лечение на брекет-системе</td></tr>
                <tr><td>Металлические брекеты (1 челюсть)</td><td align="right">10000 р</td></tr>
                <tr><td>Керамические брекеты (1 челюсть)</td><td align="right">от&nbsp 15000 р</td></tr>
                <tr><td>Лечение 1-й категории сложности (1 челюсть)</td><td align="right">от 35000 р</td></tr>
                <tr><td>Лечение 2-й категории сложности (1 челюсть)</td><td align="right">от 40000 р</td></tr>
                <tr><td>Лечение 3-й категории сложности (1 челюсть)</td><td align="right">от 50000 р</td></tr>
                <tr><td>Лечение на съемной пластиночной аппаратуре</td><td align="right">от&nbsp&nbsp 6000 р</td></tr>
                <tr><td>Лечение на элайнерах</td><td align="right">от 150000 р</td></tr>
            </table>
        </h4>

    </div>
</div>