﻿
@{
}

<title> Регистрация успешна</title>

<div>
    <p> Добро пожаловать, @ViewData["UserFio"]!</p> 
    <p> Вы будете перенаправлены на главную страницу через 3 секунды</p>
    <meta http-equiv="refresh" content="3;@ViewData["AppUrl"]">
</div>
