﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Registration";
}
<form name = "regForm" >
    <label>Электронная почта:</label><br />
    <input type="text" name="Email" /><br />

    <label>Пароль:</label><br />
    <input type="password" name="Password" /><br />

    <label>Имя:</label><br />
    <input type="text" name="Name" /><br />

    <label>Фамилия:</label><br />
    <input type="text" name="LastName" /><br />

    <label>Отчество:</label><br />
    <input type="text" name="MiddleName" /><br />

    <label>Мобильный телефон:</label><br />
    <input type="text" name="MobilePhone" /><br />

    <label>Дата рождения:</label><br />
    <input type="date" name="BirthDate" /><br />

    <input type="button" value="Отправить"  onclick="sendRegistrationInputs(regForm);"  />
</form>