﻿@using Records.Models;
@model Reservation;
<p>Вы записаны к:</p>
<table class="table">
    <thead>
        <tr>
            <td>ФИО врача</td>
            <td>Специализация</td>
            <td>Время записи</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Doctor.LastName @Model.Doctor.Name @Model.Doctor.MiddleName</td>
            <td>@Records.Converters.SpecialityToStringConverter.Convert(Model.Doctor.Speciality)</td>
            <td>@Model.ReservationDateTime</td>
        </tr>
    </tbody>
</table>
<p>Для того, чтобы отменить запись необходимо позвонить по телефону: <b>+7(495) 123-55-68</b></p>