﻿@using Records.Converters
@using Records.Models;
@model Reservation;
<form name="tableInput">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Фамилия врача</th>
                <th>Имя врача</th>
                <th>Отчество врача</th>
                <th>Дата записи</th>
                <th>Специализация</th>
                <th>Изменить</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input name="doctorLastName" value="@Model.Doctor.LastName"/></td>
                <td><input name="doctorName" value="@Model.Doctor.Name"/></td>
                <td><input name="doctorMiddleName" value="@Model.Doctor.MiddleName" /></td>
                <td><input name="reservationTime" value="@Model.ReservationDateTime" /></td>
                <td>@Records.Converters.SpecialityToStringConverter.Convert(Model.Doctor.Speciality)</td>
                <td>
                    <input type="button" name="buttonEdit" value="Изменить"
                           onclick="changeReservationAdmin('@Model.UserId', tableInput);" />
                </td>
                <td><input type="button" name="buttonDelete" value="Удалить" onclick="deleteReservationAdmin('@Model.UserId');" /></td>
            </tr>
        </tbody>
    </table>
</form>