﻿@{
    string fio = (TempData.ContainsKey("LayoutFio")) ? (string)TempData.Peek("LayoutFio") : "Гость";
    string actionButton = (TempData.ContainsKey("LayoutFio")) ? "UserReservation" : "Authorize";
    string nameButton = (TempData.ContainsKey("LayoutFio")) ? "Мои записи" : "Войти" ;

    string actionMessageButton = (TempData.ContainsKey("LayoutFio")) ? "Messages" : "Registration";
    string nameMessageButton = (TempData.ContainsKey("LayoutFio")) ? "Мои сообщения" : "Зарегестрироваться";

    string loginButtonsVisibility = (TempData.ContainsKey("LayoutFio")) ? "hidden" : "visible";
    string exitButtonVisibility = (TempData.ContainsKey("LayoutFio")) ? "visible" : "hidden";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ДентАурум</title>
    <style>
        .login-buttons {
        visibility: @loginButtonsVisibility;
    }
        .exit-button{
        visibility: @exitButtonVisibility;
    }
    </style>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/js/sha256.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/lightbox.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/images/dentaurum_favicon.ico" type="image/x-icon">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="App" asp-action="Index">Главная</a></li>
                    <li><a asp-area="" asp-controller="App" asp-action="Doctors">Врачи</a></li>
                    <li><a asp-area="" asp-controller="App" asp-action="Prices">Стоимость услуг</a></li>
                    <li><a asp-area="" asp-controller="App" asp-action="Contact">Контакты</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="color: white">Вы вошли как <b>@fio</b></a></li>
                    <li><a style="color: white" asp-area="" asp-controller="App" asp-action=@actionButton>@nameButton</a></li>
                    <li><a style="color: white" asp-area="" asp-controller="App" asp-action=@actionMessageButton>@nameMessageButton</a></li>       
                    <li><a class="exit-button" style="color: white" asp-area="" asp-controller="App" asp-action="Exit">Выйти</a></li>  
                </ul>
            </div>
        </div>
    </nav>
    <header class="container">
        <div class="col-md-12 row">
            <div class="col-md-4 img-logo">
                <img src="~/images/lala.png" width="770" height="220">
            </div>
            <div class="top-info">
                <h3>
                    <img src="~/images/phone.png" alt="phone" align="left" width="45" height="45">
                    <div class="phone"><b>&nbsp +7(495) 123-55-68</b></div>
                    <br>
                    <img src="~/images/email.png" alt="email" align="left" width="45" height="45">
                    <div class="email"><b>&nbsp bikus@inbox.ru</b></div>
                </h3>
            </div>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            <div class="footer-info">
                <div class="row">
                    <div class="col-md-9">
                        <p> Стоматологическая клиника </p>
                        <p>"ДентАурум" </p>
                        <p>&copy; Все права защищены, 2016</p>
                    </div>
                    <div class="col-md-3 ">
                        <p>+7(495) 123-55-68</p>
                        <p>Нагатинская набережная, 10к3</p>
                        <p>2016bikus@inbox.ru</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
