﻿.hr 
{
    border: none; /* Убираем границу */
    background-color: #428dc7; /* Цвет линии */
    color: #428dc7; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
}
.hr2 
{
	border: 1px;
    border-style: dotted; /* Убираем границу */
	border-color: #87CEEB;
    /*background-color: #87CEEB; /* Цвет линии */
    /*color: #87CEEB; /* Цвет линии для IE6-7 */
    /*height: 2px; /* Толщина линии */
}
.metro
{
	color:  #000080;
}
.price
{
	font-size: 25px;
}
.otstup-min
{
	margin-bottom: 2px;
}
.otstup-max
{
	margin-bottom: 20px;
}
.otstup-max2
{
	margin-bottom: 30px;
}
.top-hello
{
	padding-right: 30px;	
}
.main-text
{
	font-size: 22px;
}
.main-text-after
{
	font-size: 20px;
}
.lic
{
	margin: 30px 0px 0px 0px;
}