﻿.my-navbar:link
{
    color: green; /* Цвет ссылок */
	background-color: green;
}
.my-navbar li a:hover
{
    color: black; /* Цвет ссылки */ 
	background: #87CEFA; 
	
}	
.my-navbar
{
	font-size: 18px;
}
.main-info
{
	font-family: 'Oxygen', sans-serif;
	background-attachment: fixed;
	background-color: #FCFCFC;
	/*#FDFCF9;*.

	/*background-image:  url("../img/backing3.jpg");*/
	
}
body
{
	background-attachment: fixed;
	background-color: #F0FFFF; /*#FEF3DF;*/
	
}
header
{
	background-attachment: fixed;
	background-color: #F0FFFF; /*#FEF3DF;*/
	padding: 15px; 	
	/*background-image:  url("../img/backing3.jpg");*/
	
}
footer
{
	background-attachment: fixed;
	background-color: #e0ffff ;
}
.photo-right
{
	margin-right: 10px;
}
.photo-left
{
	margin-left: 10px;
}
td
{
	height: 35px;
}
.logo
{
	margin-left: 60%;
}
.top-info
{
	margin-right: 0px;
	margin-left: 75%;
	font-family: 'Andika', sans-serif;
}
.phone
{
	color:  #000080;
	font-size: 26px;
}
.email
{
	color:  #000080;
	font-size: 28px;
}
.footer-info
{
	margin-left: 5%
}
.footer-nav a:link
{
	padding: 40px;
}
.table-price td
{
	 vertical-align: top;
}
.img-logo img
{
	height: auto;
	width: 770px;
}
/*img
{
	width: 100%;
	height: 100%;
}*/
/*
.price
{
	font-family: 'Andika', sans-serif;
}*/